name: Publish release

on:
  release:
    types: [created]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  test:
    uses: ./.github/workflows/test.yml
  publish:
    name: Publish (Microsoft Marketplace)
    runs-on: ubuntu-latest
    needs: test
    if: success() && startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version: 20.19.3
      - name: Install dependencies
        run: npm install
      - name: Publish Extension
        run: npm run vscode:publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
