name: Publish release

on:
  release:
    types: [created]
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

jobs:
  test:
    uses: ./.github/workflows/test.yml
  publish:
    name: Publish (Microsoft Marketplace)
    runs-on: ubuntu-latest
    needs: test
    if: success() && startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 20.19.3
      - name: Install dependencies
        run: npm install
      - name: Publish Extension
        run: npm run vscode:publish
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
