name: Run tests

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".github/renovate.json"
      - ".github/workflows/renovate.yaml"
  pull_request:
    branches:
      - main
    paths-ignore:
      - "**.md"
      - ".github/renovate.json"
      - ".github/workflows/renovate.yaml"
  workflow_call:

jobs:
  test:
    strategy:
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Install Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: 20.19.3
      - name: npm install
        run: npm ci
      - name: Set up Xvfb (Ubuntu)
        run: |
          /usr/bin/Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
          echo ">>> Started xvfb"
        if: matrix.os == 'ubuntu-latest'
      - name: Run Tests
        run: npm test
        env:
          CI: true
          DISPLAY: ":99.0"
